$stroke-width: 2px;
$curves-width: 42px;
$curves-height: 21px;

$spacing: 16px;

$transition-duration: .5s;

// $horizontal-font: Traulha;
// $vertical-font: Traulha;

// $font-size-small: 14px;
// $line-height-small: 22/14;
// $font-size-large: 16px;
// $line-height-large: 24/16;

// $columns-small: 2;
// $columns-medium: 10;
// $columns-large: 14;